# .gitignore - Updated
node_modules
.env
dist
build
.DS_Store
.vscode
.history

# Chặn các file Media nặng
*.mp4
*.mov
*.avi
*.webm
*.mkv
*.wmv

# Chặn file nén và thực thi
*.zip
*.rar
*.7z
*.exe
*.dmg

# Chặn file 3D và thiết kế
*.glb
*.gltf
*.obj
*.blend
*.fbx

# Chặn các thư mục chứa file nặng cụ thể
media-server/uploads/
frontend/public/course-video/
frontend/public/models/
frontend/public/document/

# Bỏ qua file trong thư mục uploads của backend
backend/uploads/*

# Nhưng giữ lại file .gitkeep (nếu có) để giữ cấu trúc thư mục
!backend/uploads/.gitkeep
node_modules
